.Error {
  display: block;
  opacity: .7;
  margin: 2rem auto 0;

  .error-block {
    padding: .5rem;
    margin: auto auto .2rem;
    border-radius: 5px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }
}
